@using Sitecore.Feature.RssLoader
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@model IEnumerable<Sitecore.Data.Items.Item>

<h1>RSS news</h1>

@if (Model == null)
{
    <h1>No news</h1>
}
else
{
    <ul class="media-list media-list-divided">


        @foreach (var item in Model)
        {

            <li class="media">




                <div class="media-left">
                    <a href="@item.Url()">
                        <img src="@item.Fields["urlToImage"]" style="width:300px; height:200px;" class="img-fluid" alt="Alternate Text" />
                    </a>
                </div>
                <div class="media-body">
                    <div class="label label-info">
                        @Html.Sitecore().Field(Templates.RssLoader.Fields.Date.ToString(), item, new
                                                                                                   {
                                                                                                     format = "MMMM dd, yyyy"
                                                                                                   })
                    </div>
                    <h3 class="media-title">
                        <a href="@item.Url()">
                            @Html.Sitecore().Field(Templates.RssLoader.Fields.Summary, item)

                        </a>
                    </h3>
                    <p>
                        @item.Fields["description"].ToString()
                    </p>
                </div>
            </li>
        
        }

    </ul>
}